// colors
$colorWhite: #FFFFFF;
$colorBcgDark:#2F303A;
$colorBcgGray:#E5E5E5;
$colorBcgSec:#F5F4FA;
$colorAccent:#2196F3;
$colorDark:#212121;
$colorMain:#757575;
$colorShadow:rgba(255, 255, 255, 0.6);
$colorLineHeader:#ECECEC;
$colorTextShadowBtn:0px 4px 4px rgba(0, 0, 0, 0.25);
$colorbcgWhatWeDo:rgba(47, 48, 58, 0.8);
$colorSocialNet:#AFB1B8;
//Fonts in header
$bodyFont: Roboto;
$logoFont: Raleway;
$sizeFont: bold;