      .menu__mobile-wrapper {
          @media screen and (min-width: $mobile) {
              display: none;
              padding: 48px 40px;
              &.is-open {
                  position: fixed;
                  display: flex;
                  z-index: 10;
                  flex-direction: column;
                  top: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                  background-color: $colorWhite;
              }
          }
      }
      
      .menu-burger {
          //   @media screen and (max-width: $max-mobile) {
          //       position: relative;
          //       display: inline-flex;
          //       padding: 0;
          //       border: none;
          //       outline: none;
          //       background-color: $colorWhite;
          //       &:hover,
          //       &:focus {
          //           color: $colorAccent;
          //       }
          //   }
          @media screen and (min-width: $mobile) {
              position: relative;
              z-index: 10;
              display: inline-flex;
              padding: 0;
              border: none;
              outline: none;
              background-color: $colorWhite;
              &:hover,
              &:focus {
                  color: $colorAccent;
              }
          }
          @media screen and (min-width: $tablet) {
              display: none;
          }
      }
      
      .icon__btn-close {
          fill: currentColor;
          .menu-burger & {
              display: none;
          }
          .menu-burger.is-open & {
              display: block;
          }
      }
      
      .icon__btn-burger {
          fill: currentColor;
          .menu-burger.is-open & {
              display: none;
          }
      }
      
      .menu-contain {
          display: flex;
          margin: 0px;
          padding: 64px 0px 0px 0px;
          @media screen and (min-width: $tablet) {
              display: none;
          }
      }
      
      .menu__link {
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 0.02em;
          color: $colorAccent;
      }
      
      .border--left {
          height: 22px;
          padding: 0px 10px 0px;
          border-left: 1px solid rgba(33, 33, 33, 0.2);
          ;
      }
      
      .border--style {
          padding-right: 10px;
      }